@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import "vars.scss";

@font-face {
  font-family: "Gilroy";
  src: url("../asserts/fonts/web/gilroyextrabold.woff") format("woff"),
  url("../asserts/fonts/web/gilroyextrabold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Gilroy";
  src: url("../asserts/fonts/web/gilroylight.woff") format("woff"),
  url("../asserts/fonts/web/gilroylight.woff2") format("woff2");
  font-weight: normal;
}

@mixin text-style {
  font-family: "Gilroy", serif;
  font-size: 18px;
  font-weight: bold;
}

@mixin title-style {
  font-family: "Gilroy", serif;
  font-size: 47px;
  font-weight: bold;
}

@mixin btn {
  height: 40px;
  @include text-style;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  border: none;
  cursor: pointer;
  outline: none;
  text-align: center;
  line-height: 40px;

  div {
    background-color: #f0c52e;
    height: 8px;
    position: absolute;
    top: 16px;
    z-index: -1;
    width: inherit;
    transition: 0.3s ease-out;
  }

  &:hover > div,
  &:focus > div {
    top: 0;
    height: 40px;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.wrapper {
  padding: 0 60px;
}

.header-bg {
  position: absolute;
  z-index: -1;
  margin-top: 40px;
}

.logo img {
  padding-top: 20px;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.header-top {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 2;

  ul {
    display: flex;
    margin-left: auto;
    list-style: none;

    li:first-child {
      margin-right: 220px;
    }

    li {
      &:hover {
        opacity: 0.6;
      }

      &:active,
      &:focus {
        opacity: 0.3;
      }
    }
  }

  &__search {
    //label::before {
    //  content: url("../asserts/svg/search.svg");
    //}

    input {
      margin-left: 20px;
      background-color: transparent;
      border: none;
      outline: none;

      &:hover {
        opacity: 0.6;
      }

      &:active,
      &:focus {
        border-bottom: 2px solid black;
      }
    }

    &::before {
      content: url("../asserts/svg/search.svg");
    }
  }


  &__sign-in::before {
    content: url("../asserts/svg/user.svg");
    padding-right: 11px;
  }

  &__compare::before {
    content: url("../asserts/svg/compare.svg");
    padding-right: 11px;
  }

  &__cart {
    margin-left: 42px;

    &::before {
      content: url("../asserts/svg/cart.svg");
      padding-right: 11px;
    }
  }
}

.header-main {
  font-family: "Gilroy", serif;
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.333;
  letter-spacing: $letter-spacing;

  ul {
    display: flex;
    list-style: none;

    button {
      margin-left: 10px;
      border: none;
      opacity: 30%;
      cursor: pointer;
      background-color: transparent;
      outline: none;
    }

    li:nth-child(2) {
      margin-left: auto;
      margin-right: 37px;
    }

    li:last-child {
      margin-left: 105px;
    }

    li {
      &:hover {
        opacity: 0.6;
      }

      &:active,
      &:focus {
        opacity: 0.3;
      }
    }
  }
}

.catalog-menu {
  display: none;
  position: relative;
  transition: all 0.5s ease-in-out;

  &.active {
    display: block;
  }

  ul {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 25% 25% 25%;
    list-style: none;
    grid-auto-flow: column;
    background-color: #f7e296;
    padding: 25px 0;
    height: 113px;

    li {
      padding-bottom: 15px;

      &:last-child {
        grid-row: 1/2;
      }

      &:hover {
        opacity: 0.6;
      }

      &:active,
      &:focus {
        opacity: 0.3;
      }
    }
  }
}


.slider {
  display: flex;
  justify-content: space-between;

  &__img {
    display: flex;
    margin-top: auto;
    margin-left: 30px;
    user-select: none;
  }

  &__product-info {
    margin-top: 90px;
    min-width: 500px;
    position: relative;

    hr {
      width: 100px;
      height: 5px;
      background-color: white;
      border-style: none;
    }

    img {
      position: absolute;
      z-index: -1;
      right: 0;
      top: -30px;
      user-select: none;
    }

    h1 {
      margin-top: 33px;
      @include title-style;
    }

    p {
      margin-top: 18px;
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
    }

    .characteristics {
      &__nav {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        height: 40px;

        a {
          width: 220px;
          position: relative;
          @include btn;

          &:active,
          &:focus {
            color: rgba(0, 0, 0, 0.302);
          }
        }
      }

      &__buttons {
        input {
          margin-right: 20px;
        }
      }

      &__details {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
        margin-right: 73px;

        li {
          list-style: none;

          h2 {
            font-family: "Gilroy", serif;
            font-weight: lighter;
            font-size: 36px;
          }

          p {
            margin-top: 5px;
            font-size: 13px;
            font-weight: 300;
          }
        }
      }
    }
  }
}

.sections {
  margin-top: 110px;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      @include text-style;
      list-style: none;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #f7e296;
      width: 160px;
      height: 160px;
      cursor: pointer;
      transition: 0.3s;

      a {
        position: absolute;
        width: inherit;
        margin-top: 192px;
      }

      &:hover {
        background-color: #f0c52e;
      }

      &:active,
      &:focus {
        opacity: 0.3;
      }
    }

    .virtual-reality {
      background-image: url("../asserts/svg/popular-1.svg");
    }

    .monopods {
      background-image: url("../asserts/svg/popular-2.svg");
      background-position: bottom;
    }

    .action-cameras {
      background-image: url("../asserts/svg/popular-3.svg");
    }

    .fitness-bracelets {
      background-image: url("../asserts/svg/popular-4.svg");
    }

    .smart-watch {
      background-image: url("../asserts/svg/popular-5.svg");
    }

    .quadcopters {
      background-image: url("../asserts/svg/poppular-6.svg");
    }
  }
}


.possibilities {
  margin-top: 160px;
  padding-bottom: 70px;
  display: flex;

  &__list {
    width: 277px;
    border-right: 6px solid;
    padding-top: 80px;
    padding-bottom: 43px;

    li {
      margin-bottom: 25px;
      list-style: none;

      button {
        width: 160px;
        position: relative;
        @include btn;

        &:active,
        &:focus {
          color: #f7e296;
        }

        &:active > div,
        &:focus > div {
          width: 277px;
          background-color: black;
        }
      }

      .active {
        color: #f7e296;

        div {
          height: 40px;
          width: 277px;
          top: 0;
          background-color: black;
        }
      }
    }
  }

  &__type {
    display: flex;
    padding-left: 118px;

    h2 {
      padding-top: 70px;
      letter-spacing: 1px;
      @include title-style;
    }

    p {
      margin-top: 25px;
      width: 460px;
      line-height: 2;
      font-size: 15px;
    }

    img {
      margin-left: 98px;
      margin-top: 16px;
    }
  }

  &__bg {
    margin-top: 100px;
    width: 100% !important;
    height: 288px;
    background-color: #e5e5e5;
    position: absolute;
    z-index: -2;
    left: 0;
  }
}

.partners {
  margin-top: 95px;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;

  li {
    list-style: none;
  }

  .partner-1::before {
    content: url("../asserts/img/logo-1.png");
  }

  .partner-1:hover::before {
    content: url("../asserts/img/logo-1 hover.png");
  }

  .partner-2::before {
    content: url("../asserts/img/logo-2.png");
  }

  .partner-2:hover::before {
    content: url("../asserts/img/logo-2 hover.png");
  }

  .partner-3::before {
    content: url("../asserts/img/logo-3.png");
  }

  .partner-3:hover::before {
    content: url("../asserts/img/logo-3 hover.png");
  }

  .partner-4::before {
    content: url("../asserts/img/logo-4.png");
  }

  .partner-4:hover::before {
    content: url("../asserts/img/logo-4 hover.png");
  }
}

.sections-wrapper {
  display: flex;

  section {
    width: 50%;
  }
}

.about-us,
.contacts {
  height: 570px;

  hr {
    width: 80px;
    height: 7px;
    background-color: black;
    border-style: none;
  }

  h2 {
    @include title-style;
    margin: 38px 0;
  }

  p {
    font-size: 15px;
    margin-bottom: 37px;
    line-height: 2;
  }
}


.about-us {
  p:first-of-type {
    margin-bottom: 30px;
  }

  ul {
    margin-top: 64px;
    line-height: 2.2;

    li {
      @include text-style;
      list-style: circle inside;
      margin-left: 10px;
    }
  }

  a {
    width: 260px;
    position: absolute;
    bottom: 0;
    @include btn;

    &:active,
    &:focus {
      color: rgba(0, 0, 0, 0.302);
    }
  }
}

.contacts {
  margin-left: 35px;
  position: relative;

  img {
    cursor: pointer;
  }

  button {
    width: 220px;
    position: absolute;
    bottom: 0;
    left: 0;
    @include btn;

    &:active,
    &:focus {
      color: rgba(0, 0, 0, 0.302);
    }
  }
}


footer {
  height: 323px;
  margin-top: 85px;
  color: white;
  background-color: #464646;

  .footer-top,
  .footer-center,
  .footer-bottom {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;

      li {
        list-style: none;
      }
    }
  }

  .footer-top {
    justify-content: space-between;
    padding-top: 65px;

    a {
      color: inherit;
      padding-left: 11px;
    }

    li {
      margin-left: 40px;
      opacity: 0.7;

      &:hover {
        opacity: 0.9;
      }

      &:active,
      &:focus {
        opacity: 0.2;
      }
    }

    .logo {
      &:hover {
        opacity: 0.7;
      }

      &:active,
      &:focus {
        opacity: 0.3;
      }
    }
  }

  .footer-center {
    margin-top: 25px;
    line-height: 2;

    li {
      @include text-style;
      text-transform: uppercase;
      padding-right: 40px;
      letter-spacing: $letter-spacing;

      a {
        color: white;
      }

      &:hover {
        opacity: 0.6;
      }

      &:active,
      &:focus {
        opacity: 0.3;
      }
    }
  }

  .footer-bottom {
    align-items: center;
    margin-top: 55px;

    hr {
      width: 80px;
      height: 5px;
      background-color: #f0c52e;
      border-style: none;
    }

    &__links {
      li {
        opacity: 0.3;

        &:hover {
          opacity: 0.9;
        }

        &:active,
        &:focus {
          opacity: 0.2;
        }
      }

      .instagram {
        margin: 0 25px;
      }
    }

    img {
      margin-left: 50px;
    }

    &__copyright {
      &:hover {
        opacity: 0.6;
      }

      &:active,
      &:focus {
        opacity: 0.3;
      }
    }
  }
}

.modal {
  width: 960px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: fixed;
  top: 15%;
  left: 50%;
  margin-left: -480px;
  display: none;
}

.modal-close {
  position: absolute;
  width: 55px;
  height: 55px;
  border: 0;
  border-radius: 50%;
  background-color: #f0c52e;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
  right: 20px;
  top: 20px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 30px;
    background-color: white;
    top: 14px;
    left: 27px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    opacity: 1;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.modal-map {
  height: 550px;
  img {
    width: 100%;
  }

  &.active {
    display: block;
  }
}

.modal-write-us {
  height: 553px;
  @include text-style;


  &.active {
    display: block;
  }

  form {
    padding: 75px 100px;

    .user-data {
      display: flex;
      justify-content: space-between;
      margin-bottom: 35px;
    }

    input {
      display: grid;
      width: 320px;
      height: 50px;
      margin-top: 10px;
      background-color: #e6e6e6;
      opacity: 0.5;
      outline: none;
      padding: 0 20px;
      border: none;
      transition: 0.2s;

      &:hover {
        opacity: 1;
      }

      &:active,
      &:focus {
        outline: solid #f0c52e;
        background-color: white;
      }
    }

    textarea {
      display: grid;
      box-sizing: border-box;
      width: 760px;
      height: 155px;
      resize: none;
      margin-top: 10px;
      background-color: #e6e6e6;
      opacity: 0.5;
      outline: none;
      padding: 20px 20px;
      border: none;
      transition: 0.2s;

      &:hover {
        opacity: 1;
      }

      &:active,
      &:focus {
        outline: solid #f0c52e;
        background-color: white;
      }
    }

    button {
      width: 220px;
      position: absolute;
      @include btn;
      margin-top: 40px;

      &:active,
      &:focus {
        color: rgba(0, 0, 0, 0.302);
      }
    }
  }
}